.breathing-room {
  margin-top: 10vh;
  margin: 10px;
}
button {
  padding: 10px; 
  border-radius: 6px;
  background-color: #0A2342;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 10px;
}
button:focus{
  outline: none;
}
.cancel {
  color: #FB3640;
  font-size: 1.1em;
  cursor: pointer;
  margin: 10px;
}
.center {
  text-align: center;
}
.confirmation {
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 25vh;
  height: 50vh;
  text-align: center;
  font-size: 1.2em;
}
.confirmation > div {
  padding: 10px;
  margin: 10px; 
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 10vh;
}
.delete-button {
  background-color: #FB3640;
}
.dialog-form {
  margin: 20px; 
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5vh;
  margin-bottom: 2vh;
}
.full-width {
  width: 100%;
}
h1 {
    font-size: 3rem;
    font-weight: 300;
}
h2 {
  font-weight: 200;
  margin-top: 0;
}
.header {
  padding-bottom: 2vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  color: #0A2342;
}
html, body {
  height: 100%;
  background-color: #F5F5F5;
}
input {
  border: 0;
  border-bottom: 1px solid gray;
  padding: 10px;
  display: block;
  width: 70%;
  font-size: 1.5em;
  margin-bottom: 10px;
}
input:focus {
  outline: none;
  text-decoration: none;
}
label {
  margin: 5px;
}
.link {
  color: rgb(84, 136, 184);

}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 600px) {
  .logo {
    width: 100vw;
  }
  .logo > img {
    width: 250px;
  }
  .logo > h2 {
    width: 80vw;
  }
}
.logo {
  width: 15vw;
  margin: 5px;
  padding: 3vw;
}
main {
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
  color: #333333;
  word-wrap: break-word;
  hyphens: auto;
  background-color: #F5F5F5;
  height: 100%;
}
.save-button {
  margin-left: 10px;
  font-size: 1em;
  background-color: #F5F5F5;
  color: navy;
  border: 0px  
}
select {
  font-size: 1.1rem;
}
table {
  border-collapse: collapse;
  width: 90% !important;
  table-layout: fixed;
  background-color: white;
}
td {
  padding: 20px;
  height: 100%;
  vertical-align: middle;
  border-bottom: 1px solid lightgray;
}
.term-select {
  text-align: center;
  margin: 10px;
}
thead {
  margin-top: 0;
  text-transform: uppercase; 
  font-weight: 500;
  background-color: #BFC3BA

}
.warning {
  color: navy;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}