button {
  padding: 10px; 
  border-radius: 6px;
  background-color: #0A2342;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}
button:focus{
  outline: none;
}
.cancel {
  background-color: white;
  color: #FB3640;
}
.center {
  text-align: center;
}
.confirmation {
  margin-left: 25vw;
  margin-right: 25vw;
  height: 50vh;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:center;
}
.dialog-form {
  padding: 20px; 
}
.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5vh;
}
h1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}
h2 {
  font-weight: 200;
  margin-top: 0;
}
.header {
  padding-bottom: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  color: #0A2342;
}

input {
  border: 0;
  border-bottom: 1px solid gray;
  padding: 10px;
  display: block;
  width: 70%;
  font-size: 1.5em;
}
input:focus {
  outline: none;
  text-decoration: none;
}
label {
  margin: 5px;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 600px) {
  .logo {
    width: 100vw;
  }
  .logo > img {
    width: 250px;
  }
  .logo > h2 {
    width: 80vw;
  }
}
.logo {
  width: 15vw;
  margin: 5px;
  padding: 3vw;
}
main {
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
  color: #333333;
  word-wrap: break-word;
  hyphens: auto;
  background-color: #F5F5F5;
  height: 100%;
}
table {
  border-collapse: collapse;
  width: 90% !important;
  table-layout: fixed;
  background-color: white;
}
td {
  padding: 20px;
  height: 100%;
  vertical-align: middle;
  border-bottom: 1px solid lightgray;
}
.term-select {
  text-align: center;
  margin: 10px;
}
thead {
  margin-top: 0;
  text-transform: uppercase; 
  font-weight: 500;
  background-color: #BFC3BA

}

